/* font */
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500&family=Kantumruy+Pro&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&family=Prompt:ital@0;1&family=Rubik&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.blue {
    color: #289BDE;
    border-color: #289BDE;

}

.blue1 {
    background-color: #289BDE;
}

.navbar-brand {
    font-size: 30px;
}

.carousel-item img {
    height: 80vh;
}



.gray {
    color: #777777;
    ;
}

@media screen and (max-width: 557px) {
    .navbar-brand {
        font-size: 20px;
    }

    .carousel-caption h4 {
        font-size: 20px;
        font-weight: 900;
        width: 100%;
    }

    .carousel-caption p {
        font-size: 10px;

    }


}